<% provide(:title, "Edit Team") %>
<h1>Update your Team Profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@team) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :bio %>
      <%= f.text_area :bio %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails">change</a>
  </div>
</div>
