<% provide(:title, @team.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @team.name %>

      </h1>

    </section>
    <section class="users">
    	<%= render @users %>
    </section>
    <section class=>
    <%= render 'shared/new_member_form' %>
    </section>
  </aside>
  <div class="text-center hero-unit span6 pull-right">
    <aside>
      <h3><%=@team.name%>'s Bio</h3>
      <%= @team.bio %>
    </aside>
    <aside class="text-right">
     <%= link_to "Edit", edit_team_path, class: "btn btn-small btn-primary" %>
     </aside>
  </div>
</div>

