
<% if @team.users.include?(User.find(current_user.id)) %>
<% provide(:title, @team.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @team.name %>
      </h1>
    </section>
    <section class="users">
    Members:	<%= render @users %>
    </section>
    <section >
    <%= render 'shared/new_member_form' %>
    </section>
    <section>
    <%= render 'leave_team' %>
    </section>
    <section class="users">
    Ideas: <%= render @ideas %>
    </section>
  </aside>
  <div class="text-center hero-unit span6 pull-right">
    <aside>
      <h3><%=@team.name%>'s Bio</h3>
      <%= @team.bio %>
    </aside>
    <aside class="text-right">
     <%= link_to "Edit", edit_team_path, class: "btn btn-small btn-primary" %>
     </aside>
  </div>
  <div class="hero-unit span6 pull-right">
    <h3> Message Board </h3>
      <%= render 'shared/message_form' %>
       <%= render 'shared/messages' %>
        <div class="pagination-small pagination-right">
    		<%= will_paginate @messages, inner_window: 1 %>
        </div>
      </div>
</div>
<% else %>
<% provide(:title, @team.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @team.name %>
      </h1>
    </section>
    <section class="users">
     Members: <%= render @users %>
    </section>
     <section class="users">
    Ideas: <%= render @ideas %>
    </section>
  </aside>
  <div class="text-center hero-unit span6 pull-right">
    <aside>
      <h3><%=@team.name%>'s Bio</h3>
      <%= @team.bio %>
    </aside>
  </div>
  <div class="hero-unit span6 pull-right">
    <h3> Projects</h3>
  </div>
</div>
<% end %>

