<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
        <%= render 'shared/stats' %>
      </section>
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
      <section>
      <%= render 'shared/team_stats' %>
      </section>
    </aside>
    <div class="span8">
      <h3>News Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to the Puzzle Piece</h1>

    <h2>
      Puzzle Piece is a social platform designed to connect innovative and entreprenurial minds with the teammates and the tools they need to bring their ideas to life! 
    </h2>

    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
  </div>
<% end %>