<% provide(:title, "Edit idea") %>
<h1>Update your idea</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@idea) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= render 'shared/checkbox_form' %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>

    <% end %>

    
  </div>
</div>