<% provide(:title, @idea.name) %>
      
   <div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @idea.name %>
      </h1>
    </section>
    <section class="users">
     Author: <%= render @user %>
    </section>
   <%unless @idea.team.blank? %>
    <section>
      Team: <%= render @team %>
    </section>
    <%end%>
     <section>
      <%= render 'shared/new_project_form' %>
    </section>
    <section>
    <b>Requirements: (<%=@idea.requirements.count %>) </b> 
    <%= render 'shared/idea_requirements' %>
    </section>
        </aside>
  <div class="text-center hero-unit span6 pull-right">
    <aside>
      <h3><%=@idea.name%> Description</h3>
      <%= @idea.description %>
    </aside>
    <%if current_user==@user%>
    <aside class="text-right">
     <%= link_to "Edit", edit_idea_path, class: "btn btn-small btn-primary" %>
     </aside>
     <%end%>
  </div>
  <div class="hero-unit span6 pull-right">
    <h3> Comments </h3>
      
      </div>
</div>
