<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
     <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= render 'follow_form' if signed_in? %>
    </section>
  </aside>
    <div class="span8">
    <% if @user.wallposts.any? %>
      <h3>Wallposts (<%= @user.wallposts.count %>)</h3>
      <ol class="wallposts">
        <%= render @wallposts %>
      </ol>
      <%= will_paginate @wallposts %>
    <% end %>
  </div>
</div>