<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
     <section>
      <%= render 'shared/stats' %>
    </section>
    <%= render 'follow_form' if signed_in? %>
  </aside>
    <div class="span6">
    <% unless @user.wall.blank? %>
      <h3><%=@user.name%>'s Wall</h3>
    <%= render 'shared/wallpost_form' %>  
      <% @wallposts.each do |wallpost| %>
        <ol class="microposts">
          <%= User.find(wallpost.user_id).name %>
          <%= render wallpost %>
        </ol>
      <% end %>
      <%= will_paginate @wallposts, inner_window: 1 %>
    <% end %>
  </div>
</div>