<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
     <section>
      <%= render 'shared/stats' %>
    </section>
    <%= render 'follow_form' if signed_in? %>
  </aside>
    <div class="span8">
    <% unless @user.wall.blank? %>
      <h3><%=@user.name%>'s Wall</h3>
    <%= render 'shared/wallpost_form' %>  
      <ol class="microposts">
        <%= render @wall_items %>
      </ol>
    <% end %>
   
      <%= will_paginate @wall_items %>
  </div>
</div>