<div class="row">
  <div class="span6 offset3">
   <%= form_for(@member) do |f| %>
  		<%= f.label :email %>
      	<%= f.text_field :email %>

      	<%= f.submit "Add Member", class: "btn btn-large btn-primary" %>
    <% end %>
    <%=@member.name %>
   </div>
</div>